:root {
  --bg-color: #fafafa;
  --text-color: #006064;
  --header-color: #00acc1;
  --border-color: #b0bec5;
  --card-bg-color: #ffffff;
  --input-bg-color: #ffffff;
  --button-bg-color: #00bcd4;
  --sidebar-bg-color: #1e272e;
  --sidebar-text-color: #b0b0b0;
  --sidebar-hover-bg-color: #00bcd430;
  --sidebar-active-bg-color: #00bcd4;
}
